body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    color: #575757;
    line-height: 35px;
}
p{
    font-size: 20px;
    line-height: 1.7em;
}
.gradient-color{
    background: linear-gradient(90deg, rgba(255,151,72,1) 0%, rgba(251,117,52,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.d-flex{
    display: flex;
}
.hero-area{
    margin: 0 8%;
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero-area p{
    color: #828282;
    font-weight: 500;
    margin-top: 60px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.gradient-btn{
    color: white;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 25px 50px;
    margin-top: 35px;
    background-image: linear-gradient(90deg, rgba(251,153,76,1) 0%, rgba(254,74,46,1) 100%);
    border-radius: 50px;
    box-shadow: 0px 0px 12px #f7bd90;
}
.gradient-btn:hover{
    background-image: linear-gradient(90deg, rgb(245, 137, 55) 0%, rgb(247, 69, 42) 100%);
}
.hero-area .half-width:first-child{
    margin-top: 100px;
}/* end hero area */

.about-area{
    padding: 0 12%;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-area img{
    width: 85%;
    height: 100%;
}
.about-area .half-width{
    padding: 0 5%;
}
.about-area h2{
    font-size: 50px;
    color: #676767;
}
.about-area .half-width:last-child{
    margin-top: 100px;
}/* end about area */

.section-title{
    text-align: center;
    width: 40%;
    margin: 100px auto 30px;
}
.section-title h3{
    font-size: 40px;
    color: #676767;
}
.section-title p{
    line-height: 1.5em;
}
.services-item{
    margin: 0 8%;
}
.single-service-box{
    width: 30%;
    margin-right: 5%;
    padding: 18px;
    box-shadow: 0 0 10px rgb(235, 230, 230);
    border-radius: 35px;
}
.single-service-box:last-child{
    margin-right: 0;
}
.single-service-box img{
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
}
.single-service-box h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}/*end services area*/

.social-hits{
    margin: 100px 8% 80px;
    box-shadow: 0 0 15px rgb(235, 230, 230);
    border-radius: 25px;
}
.single-social-count{
    width: 33.33%;
    text-align: center;
    padding: 75px 0;
}
.single-social-count p{
    font-size: 50px;
    font-weight: bold;
    margin: -8px;
}/*end social hits*/

.newsletter{
    position: relative;
    background-image: url(img/summer-fruit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 1;
    padding: 100px;
    color: rgb(252, 251, 251);
}
.newsletter::after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #F58135;
    opacity: .4;
    z-index: -1;
}
.newsletter h2{
    font-size: 38px;
    margin-top: 0;
}
.newsletter p{
    margin-bottom: 10px;
}
#subscribe input[type="email"], #subscribe input[type="submit"] {
    padding: 20px 28px;
    border-radius: 10px;
    border: none;
    outline: none;
    
    font-size: 16px;
}
#subscribe input[type="submit"]{
    margin-left: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(69,149,54,1) 0%, rgba(223,169,95,1) 100%);
    color: white;
    cursor: pointer;
}/*end newsletter area*/

#footer{
    text-align: center;
    background-color: black;
    color: #ece4e4;
    padding: 40px 0 90px;
    font-size: 14px;
}
#footer h2{
    color: #5B5B5B;
    font-size: 35px;
}
#footer p{
    font-size: 16px;
}
